.contact {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contact .contact__item+.contact__item {
    margin-left: 50px;
}


.contact__link {
    display: flex;
    color: var(--primery-text-color);
    align-items: center;
    transition: color var(--animation);
}

.contact__icon-envelope {
    margin-right: 10px;
    fill: currentColor;
}


.contact__link:hover,
.contact__link:focus {
    color: var(--accent-color);
}