.hang-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--primery-team-color);
    border-radius: 4px;
}

.hang-list {
    display: flex;
}

.hang-list .hang-item+.hang-item {
    margin-left: 30px;
    width: 270px;
}

.hang-item {
    width: 270px;
}

.hang-subtitle {
    margin-bottom: 10x;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.hang-text {
    margin-top: 10px;

    color: var(--primery-text-color);
    line-height: 1.71;
}