.team {
    background-color: var(--primery-team-color);
    line-height: 1.18
}

.team-title {
    margin-bottom: 50px;
}

.product-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.team-list {
    display: flex;
    text-align: center;
}

.team-list .team-item {
    background-color: var(--primery-white-color);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .team-item+.team-item {
    margin-left: 30px;
}

.teammate-major {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primery-text-color);
}

.teammate-name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}

.team-links {
    display: flex;
    column-gap: 10px;
}

.team-links-item {
    width: 44px;
    height: 44px;
}

.team-link {
    border-radius: 50%;
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color var(--animation), fill var(--animation);
}

.team-links-item svg {
    fill: var(--icons-gray);
}

.team-link:hover,
.team-link:focus {
    background-color: var(--accent-color);
}

.team-links-item:hover svg,
.team-links-item:focus svg {
    fill: var(--primery-white-color);
}